@model Project3_Morton.Models.UpsertItemsModel
@{
    ViewBag.Title = "Upsert";
}

<h2>Upsert a Item</h2>

@using (Html.BeginForm("Upsert", "InvoiceLineItem", FormMethod.Post))
{
    @Html.TextBoxFor(gm => gm.InvoiceLineItem.InvoiceID, new { @class = "form-control", placeholder = "Invoice ID" })
    @Html.TextBoxFor(gm => gm.InvoiceLineItem.ProductCode, new { @class = "form-control", placeholder = "Product Code" })
    @Html.TextBoxFor(gm => gm.InvoiceLineItem.ItemTotal, new { @class = "form-control", placeholder = "Item Total" })
    @Html.TextBoxFor(gm => gm.InvoiceLineItem.Quantity, new { @class = "form-control", placeholder = "Quantity" })
    @Html.TextBoxFor(gm => gm.InvoiceLineItem.UnitPrice, new { @class = "form-control", placeholder = "Unit Price" })

    <input list = "State" name = "productcode" >

    <datalist id="State">
        @foreach (var id in Model.Products)
        {
            <option value="@id.ProductCode"></option>
        }
    </datalist>


    <input type="submit" value="submit" class="btn btn-info" />
}